{% extends "base.html" %}

{% load i18n  crispy_forms_tags  %}

{% block head_title %}{% trans "Signup | Luke's Blog" %}{% endblock %}

{% block content %}


<!-- <section class="section-content padding-y"> -->

<!-- ============================ COMPONENT REGISTER   ================================= -->

<div class="card mx-auto" style="max-width: 380px; margin-top:50px;">
  <div class="card-body" style="background-color: whitesmoke">
    <h3 class="card-title mb-4" style="margin-left: 35%;">
      Sign Up

    </h3>


    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" type="submit"> {% trans "Sign Up" %} &raquo; </button>
      </div>
      <!-- <button type="submit"></button> -->
    </form>


    </article><!-- card-body.// -->
  </div> <!-- card .// -->


</div>
<p class="text-center mt-4">Have an account? <a href="{% url 'account_login' %}">Log In</a></p>
<br><br>






{% endblock %}