<div>
    <p class="aside">
        Recommended Python books
    </p>
    <p>
        <strong>
            These links are affiliate links, meaning I get a commission if you decide to make a
            purchase
            through these links, at no cost to you.
        </strong>
    </p>
    <div class="row text-center">
        <a class="col-12 mb-5"
            href="https://www.amazon.com/gp/product/1593279280/ref=as_li_tl?ie=UTF8&tag=123405e9-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593279280&linkId=d5cd4f6769876191a5e830973c83a569"
            target="_blank" rel=”noopener”>
            <img src="/static/img/books/python-crash-course.jpg" alt="python crash course" loading="lazy" />
        </a>
        <a class="col-12 mb-5"
            href="https://www.amazon.com/gp/product/1491919531/ref=as_li_tl?ie=UTF8&tag=123405e9-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1491919531&linkId=813a16d222c5144fe3af198aa6239576"
            target="_blank" rel=”noopener”>
            <img src="/static/img/books/head-first-python.jpg" alt="head first python" loading="lazy" />
        </a>

    </div>
</div>