<footer class="footer font-small special-color-dark pt-4">
	<div class="container pb-3">
		<div class="row">
			<ul class="col-12 list-inline text-center">
				<h5 class="text-white mb-3">Follow me:</h5>
				<ul class="list-inline mb-0">
					<li class="list-inline-item">
						<a class="nav-link social" style="background-color: #2b7ab1" target="_blank" rel="noopener"
							href="https://www.linkedin.com/in/yacine-rouizi-1a95271b4/" title="Linkedin">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="nav-link social" style="background-color: #3e5b94" target="_blank" rel="noopener"
							href="https://www.facebook.com/RouiziYacine" title="Facebook">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="nav-link social link" style="background-color: #363636" target="_blank" rel="noopener"
							href="https://github.com/Rouizi" title="GitHub">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="nav-link social link" style="background-color: #f48024" target="_blank" rel="noopener"
							href="https://stackoverflow.com/users/11256688/yacine-rouizi?tab=profile"
							title="Stackoverflow">
							<i class="fab fa-stack-overflow"></i>
						</a>
					</li>
				</ul>
		</div>
		<div class="row">
			<span class="col-lg-4 mt-2">© 2021 Copyright: dontrepeatyourself. All rights reserved.</span>
			<span class="col-lg-1 mt-2"><a class='link' href='mailto:cinorouizi@gmail.com'>contact me</a></span>
			<span class="col-lg-1 mt-2">
				<a class='link' href='https://www.websitepolicies.com/policies/view/jYKTFjJr'>Cookies</a>
			</span>
			<span class="col-lg-2 mt-2">
				<a class='link' href='https://www.websitepolicies.com/policies/view/kiVFNnNs'>Privacy Policy</a>
			</span>
			<span class="col-lg-2 mt-2">
				<a class='link' href='https://www.websitepolicies.com/policies/view/Me0yvbX0'>Terms and
					Conditions</a>
			</span>
		</div>
	</div>
</footer>